<ul>
    {% for item in menu %}
        <li class="{% if item.is_active %}active{% endif %}">
            <a href="{{ item.item.get_url }}">{{ item.item.name }}</a>
            {% if item.children %}
                <ul>
                    {% for child in item.children %}
                        <li class="{% if child.is_active %}active{% endif %}">
                            <a href="{{ child.item.get_url }}">{{ child.item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>